*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*pour que 1rem=10px car taille par defaut du navigateur est de 16px (rem unite relative au parent) */
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
}

body {
  margin: 20px;
  font-family: Work Sans;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  color: #212529;
}
header div {
  text-align: center;
}
header,
main {
  grid-template-columns: none;
  justify-items: center;
  display: grid;
  grid-gap: 55px;
}
img {
  width: 90%;
  border-radius: 160px;
}
h1 {
  font-family: Work Sans;
  font-size: 80px;
  font-weight: 600;

  letter-spacing: 0em;
  text-align: left;
}
h2 {
  margin-block: 80px;
  font-size: 70px;
  font-weight: 100;
  line-height: 129px;
  letter-spacing: 0em;
  text-align: left;
}
h3 {
  margin: 0;

  font-size: 26px;
  font-weight: 600;
}
ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 50px;
}
section ul > li {
  display: inline-block;
  margin: 0px 10px 10px 0px;
  border-radius: 16px;
  background-color: #c1a8a8;
  color: #ffffff;
  padding-inline: 13px;
}

p {
  padding-bottom: 20px;

  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

li {
  list-style-type: none;
  color: #c1a8a8;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

footer ul li {
  margin-inline-end: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 576px) {
  .work {
    order: 2;
  }
  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
  .about {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  body {
    margin-inline: 125px;
    margin-top: 125px;
  }

  header {
    align-items: center;
  }
  img {
    border-radius: 168px;
  }
  header,
  main {
    grid-template-columns: 50% 50%;
    justify-items: normal;
  }
  .work {
    order: 1;
  }
  .works {
    display: block;
  }
  .about {
    order: 2;
  }
  footer ul {
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 0;
    justify-content: center;
  }
}
